

<div class="container mt-5" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 60vh;">
    <h1 class="display-4 text-center mb-4">Buscar</h1>
    <form action="/links/search" method="GET" class="text-center w-50">
        <div class="mb-3">
            <input type="text" class="form-control form-control-lg w-100" name="videoUrl" placeholder="Insertar la URL" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
        </div>
    </form>
</div>
